/* Catppuccin Mocha */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

window {
    border-radius: 2rem 2rem 2rem 2rem;
    border: 2px solid @lavender;
    font-size: 32px;
    font-family: "JetBrainsMono Nerd Font";
    background-color: rgba(24, 24, 37, 0.99);
    color: @text;
}

#entry {
    padding: 0.25em;
    background-color: @mantle;
    color: @text;
}

#entry:selected {
    background-color: @surface0;
    background: linear-gradient(90deg ,@surface0 ,@surface2);
}

#text:selected {
    color: @blue;
}

#input {
    border-radius: 2rem 2rem 0 0;
    border: none;
    border-top: 2px solid @lavander;
    border-left: 2px solid @lavander;
    border-right: 2px solid @lavander;
    background-color: @mantle;
    color: @text;
    padding: 0.25em;
}

image {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#scroll {
    margin-top: 10;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

